
  html,body {
    height: 100vh;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-image: url("./Cartoon-Background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 60vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    height: 50vh;
}

.container__flexItem {
    flex: 1;
    display: flex;
    justify-content: space-around;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


.container__slotsElement {
    margin: 1em;
    text-transform: uppercase;
}


.container__header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


.lettersGuessed__element {
    margin: 1em;
    text-transform: uppercase;
}


.container__lettersGuessedHeader {
    margin: 0;
    flex: 0;
    padding: 0;
}

